html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #e5dada;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: #E5DADA;
}
h1{
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.5rem;
    letter-spacing: -0.5px;
}
h2{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: -0.5px;
}
h3{
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 0px;
}
h4{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0px;
}
h5{
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1rem;
    letter-spacing: 0.18px;
}
p{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3rem;
    letter-spacing: 0.15px;
}
#logo{
    align-self: center;
    color: #E5DADA;
    font-family: 'Press Start 2P', cursive;
    margin-left: 2rem;
}
#navbar{
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100%;
    display: flex;
    background-color: #02040f;
    z-index: 420;
}
#navbar ul{
    margin-left: auto;
    margin-top: 0;
    display: flex;
    padding-right: 1rem;
}
.nav-item{
    list-style: none;
    height: 4rem;
    display: flex;
}
.nav-link{
    /* font-family: fantasy; */
    text-decoration: none;
    color: #E5DADA;
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: bolder;
    margin: 1rem;
    align-self: center;
}
.nav-link:hover{
    color: #E59500;
    transition: 0.3s;
}
#welcome-section{
    height: calc(100vh - 4rem);
    /* background-image: url('https://wallpapercave.com/wp/wp2729921.gif');  */
    background-image: url('https://wallpapercave.com/wp/wp2757868.gif');
    background-size: cover;
    padding:0;
    margin:4rem 0 0 0;
    clip-path: ellipse(120% 90% at 50% 10%);
}
#welcome-section header{
    margin-left: 5rem;
    padding-top: 1rem;
    color: #E5DADA;
}
#welcome-section h3{
    color: #E59500;
    position: relative;
    bottom: 2rem;
}
#projects{
    background-color: #E5DADA;
}
#projects h2{
    color: #002642;
    padding: 5% 0 0 5%;
    margin:0;
}
#projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    padding: 5%;
}
.project-tile{
    margin: 1rem;
    padding: 1rem 1rem 0.8rem 1rem;
    background: linear-gradient(180deg, #002642 60%, #840032 100%);
    clip-path: polygon(0 2%, 1% 2%, 1% 0, 99% 0, 99% 2%, 100% 2%, 100% 98%, 99% 98%, 99% 100%, 1% 100%, 1% 98%, 0 98%);
}
.project-tile a{
    text-decoration: none;
    text-align: center;
}
.project-tile a:hover{
    filter: opacity(50%);
    transition: 0.5s;
}
.project-img{
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0 2%, 1% 2%, 1% 0, 99% 0, 99% 2%, 100% 2%,100% 100%, 0% 100%);
}
/* .title-container{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #E5DADA;
    border: 0.3rem solid #840032;
    padding: 0.5rem;
    max-width: 80%;
    width: fit-content;
} */
.project-title{
    margin: 0;
    color: #FFF;
}
footer{
    background-color: #002642;
    width: 100%;
    display: flex;
    margin-top: 1rem;
}
footer header{
    margin:3rem 5%;
}
#profile-link{
    text-decoration: none;
}
#contact-btn{
    box-shadow: 10px 10px 0px #02040F;
    background-color: #FFFF;
    color: #000000;
    border: solid #1f628d 4px;
    padding: 0.4rem 2rem 0.4rem 2rem;
    margin: 4rem 1rem;
}
#contact-btn:hover{
    position: relative;
    top: 10px;
    left: 10px;
    box-shadow: 0 0 0 #02040F;
}
@media screen and (max-width:770px) {
    html{
        font-size: 14px;
    }
    #projects-grid{
        grid-template-columns: 1fr;
    }
    #projects h2{
        margin: 1rem 0 1rem 0;
    }
    footer{
        margin-top: 1rem;
    }
    #welcome-section{
        background-position: center;
    }
}
@media screen and (max-width:600px) {
    html{
        font-size: 13px;
    }
    footer{
        flex-direction: column;
    }
    #contact-btn{
        margin: -2rem 5% 2rem 5%;
        width: 10rem;
        text-align: center;
    }
    #logo{
        margin: 0.5rem;
    }
    #navbar ul{
        padding: 0;
    }
    .nav-link{
        margin: 0.5rem;
    }
    #welcome-section header{
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
